<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have permission to to access this resource</h6>
    <img src="~/images/AccessDenied.png" style="height:250px; width:250px;" />
</div>
